In [29]:
import numpy as np
import pandas as pd
from PIL import Image
import matplotlib.pyplot as plt
from os import listdir
import os

In [30]:
df = pd.read_csv("data/data1/total_data_paths.csv", index_col='index')

In [31]:
df

,user_id,original_image,face_id,age,gender,paths,image_array
index,,,,,,,
0,30601258@N03,10399646885_67c7d20df9_o.jpg,1,"(25, 32)",f,data/data1/faces/30601258@N03/coarse_tilt_alig...,[[[0. 0. 0.]\n [0. 0. 0.]\n [0. 0. 0.]\n .....
1,30601258@N03,10424815813_e94629b1ec_o.jpg,2,"(25, 32)",m,data/data1/faces/30601258@N03/coarse_tilt_alig...,[[[0.94117647 0.83137255 0.77647059]\n [0.945...
2,30601258@N03,10437979845_5985be4b26_o.jpg,1,"(25, 32)",f,data/data1/faces/30601258@N03/coarse_tilt_alig...,[[[0. 0. 0.]\n [0. 0. 0.]\n [0. 0. 0.]\n .....
3,30601258@N03,10437979845_5985be4b26_o.jpg,3,"(25, 32)",m,data/data1/faces/30601258@N03/coarse_tilt_alig...,[[[0.70588235 0.61960784 0.45882353]\n [0.694...
4,30601258@N03,11816644924_075c3d8d59_o.jpg,2,"(25, 32)",m,data/data1/faces/30601258@N03/coarse_tilt_alig...,[[[0. 0. 0.]\n [0. 0. 0.]\n [0. 0. 0.]\n .....
...,...,...,...,...,...,...,...
19341,101515718@N03,10587826073_6663f5b654_o.jpg,2280,"(25, 32)",f,data/data1/faces/101515718@N03/coarse_tilt_ali...,[[[0.69411765 0.52156863 0.36862745]\n [0.729...
19342,101515718@N03,10587571495_a61785cd06_o.jpg,2278,"(25, 32)",m,data/data1/faces/101515718@N03/coarse_tilt_ali...,[[[0. 0. 0.]\n [0. 0. 0.]\n [0. 0. 0.]\n .....
19343,101515718@N03,10587571495_a61785cd06_o.jpg,2279,"(25, 32)",f,data/data1/faces/101515718@N03/coarse_tilt_ali...,[[[0. 0. 0.]\n [0. 0. 0.]\n [0. 0. 0.]\n .....
19344,50458575@N08,9426695459_9e8b347604_o.jpg,2281,"(25, 32)",f,data/data1/faces/50458575@N08/coarse_tilt_alig...,[[[0.24705882 0.30196078 0.09411765]\n [0.156...
19345,50458575@N08,9429464468_1bfc39ecfb_o.jpg,2281,"(25, 32)",f,data/data1/faces/50458575@N08/coarse_tilt_alig...,[[[0. 0. 0.]\n [0. 0. 0.]\n [0. 0. 0.]\n .....

In [32]:
df = df.drop(columns = ['user_id', 'original_image', 'face_id', 'image_array'])

In [33]:
df

            age gender                                              paths
index
0      (25, 32)      f  data/data1/faces/30601258@N03/coarse_tilt_alig...
1      (25, 32)      m  data/data1/faces/30601258@N03/coarse_tilt_alig...
2      (25, 32)      f  data/data1/faces/30601258@N03/coarse_tilt_alig...
3      (25, 32)      m  data/data1/faces/30601258@N03/coarse_tilt_alig...
4      (25, 32)      m  data/data1/faces/30601258@N03/coarse_tilt_alig...
...         ...    ...                                                ...
19341  (25, 32)      f  data/data1/faces/101515718@N03/coarse_tilt_ali...
19342  (25, 32)      m  data/data1/faces/101515718@N03/coarse_tilt_ali...
19343  (25, 32)      f  data/data1/faces/101515718@N03/coarse_tilt_ali...
19344  (25, 32)      f  data/data1/faces/50458575@N08/coarse_tilt_alig...
19345  (25, 32)      f  data/data1/faces/50458575@N08/coarse_tilt_alig...

[18551 rows x 3 columns]

In [34]:
df.age.unique()

array(['(25, 32)', '(38, 43)', '(4, 6)', '(60, 100)', '(15, 20)',
       '(48, 53)', '(8, 12)', '(0, 2)', '(38, 48)', '35', '3', '55', '58',
       '22', '13', '45', '36', '23', '(38, 42)', '(8, 23)', '(27, 32)',
       '57', '2', '29', '34', '42', '46'], dtype=object)

In [35]:
labels_age = [('(0, 2)', '0-2'), ('2', '0-2'), ('3', '0-2'), ('(4, 6)', '4-6'), ('(8, 12)', '8-13'), ('13', '8-13'), ('22', '20-25'), ('(8, 23)','15-20'), ('23', '20-25'), ('(15, 20)', '15-20'), ('(25, 32)', '25-32'), ('(27, 32)', '25-32'), ('32', '25-32'), ('34', '25-32'), ('29', '25-32'), ('(38, 42)', '38-43'), ('35', '38-43'), ('36', '38-43'), ('42', '48-53'), ('45', '38-43'), ('(38, 43)', '38-43'), ('(38, 42)', '38-43'), ('(38, 48)', '48-53'), ('46', '48-53'), ('(48, 53)', '48-53'), ('55', '48-53'), ('56', '48-53'), ('(60, 100)', '60+'), ('57', '60+'), ('58', '60+')]
labels_age = {each[0]: each[1] for each in labels_age}

In [36]:
labels_age

{'(0, 2)': '0-2',
 '2': '0-2',
 '3': '0-2',
 '(4, 6)': '4-6',
 '(8, 12)': '8-13',
 '13': '8-13',
 '22': '20-25',
 '(8, 23)': '15-20',
 '23': '20-25',
 '(15, 20)': '15-20',
 '(25, 32)': '25-32',
 '(27, 32)': '25-32',
 '32': '25-32',
 '34': '25-32',
 '29': '25-32',
 '(38, 42)': '38-43',
 '35': '38-43',
 '36': '38-43',
 '42': '48-53',
 '45': '38-43',
 '(38, 43)': '38-43',
 '(38, 48)': '48-53',
 '46': '48-53',
 '(48, 53)': '48-53',
 '55': '48-53',
 '56': '48-53',
 '(60, 100)': '60+',
 '57': '60+',
 '58': '60+'}

In [37]:
labels_age.keys()

dict_keys(['(0, 2)', '2', '3', '(4, 6)', '(8, 12)', '13', '22', '(8, 23)', '23', '(15, 20)', '(25, 32)', '(27, 32)', '32', '34', '29', '(38, 42)', '35', '36', '42', '45', '(38, 43)', '(38, 48)', '46', '(48, 53)', '55', '56', '(60, 100)', '57', '58'])

In [38]:
df.age.head()

index
0    (25, 32)
1    (25, 32)
2    (25, 32)
3    (25, 32)
4    (25, 32)
Name: age, dtype: object

In [39]:
#df.iloc[0].age = 32

In [40]:
df.age.head()

index
0    (25, 32)
1    (25, 32)
2    (25, 32)
3    (25, 32)
4    (25, 32)
Name: age, dtype: object

In [41]:
for row, age in enumerate(df.age):
    #print(labels_age[age])
    df.iloc[row].age = labels_age[age]

In [42]:
df['age'].unique()

array(['25-32', '38-43', '4-6', '60+', '15-20', '48-53', '8-13', '0-2',
       '20-25'], dtype=object)

In [43]:
df

         age gender                                              paths
index
0      25-32      f  data/data1/faces/30601258@N03/coarse_tilt_alig...
1      25-32      m  data/data1/faces/30601258@N03/coarse_tilt_alig...
2      25-32      f  data/data1/faces/30601258@N03/coarse_tilt_alig...
3      25-32      m  data/data1/faces/30601258@N03/coarse_tilt_alig...
4      25-32      m  data/data1/faces/30601258@N03/coarse_tilt_alig...
...      ...    ...                                                ...
19341  25-32      f  data/data1/faces/101515718@N03/coarse_tilt_ali...
19342  25-32      m  data/data1/faces/101515718@N03/coarse_tilt_ali...
19343  25-32      f  data/data1/faces/101515718@N03/coarse_tilt_ali...
19344  25-32      f  data/data1/faces/50458575@N08/coarse_tilt_alig...
19345  25-32      f  data/data1/faces/50458575@N08/coarse_tilt_alig...

[18551 rows x 3 columns]

In [44]:
df.to_csv('data/data1/final_data.csv')